{% extends "masterpage.html" %}
{% load static %}
{% block content %}
<main>
    <div class="blog-banner blog-detail-banner">
        <div class="bg"><img src="{{ post.image.url }}" alt=""></div>
        <div class="banner-wrapper">
            <div class="content">
                <h1>{{ post.Blog_title }}</h1>
            </div>
        </div>
    </div>
    <section>
        <div class="blogDetailSecA">
            <div class="container">
                <div class="flex">
                    <div class="colA">
                        <div class="content">
                            {{ post.content|safe }}
                        </div>
                    </div>
                    {% if more_posts %}
                        <div class="colB">
                            <div class="card">
                                <h4>Latest Blogs</h4>
                                <ul>
                                    {% for latest_post in latest_posts %}
                                    <li>
                                        <a href="{% url 'FocalNest:blog_detail' Title_url=latest_post.Title_url %}">
                                            {{latest_post.Blog_title}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% if more_posts %}
        <section>
            <div class="blogListingSecB">
                <div class="container">
                    <div class="heading text-center">
                        <h3>More <span>Blogs</span></h3>
                    </div>
                    <div class="more-blog-slider owl-carousel">
                        {% for more_post in more_posts %}
                        <div class="col">
                            <a href="{% url 'FocalNest:blog_detail' Title_url=more_post.Title_url %}">
                                <figure><img src="{{ more_post.image.url }}" alt=""></figure>
                                <figcaption>{{ more_post.Blog_title }}</figcaption>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
</main>
{% endblock %}